<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=vMOnge5Gld">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=vMOnge5Gld">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=vMOnge5Gld">
  <link rel="manifest" href="site.webmanifest?v=vMOnge5Gld">
  <link rel="mask-icon" href="safari-pinned-tab.svg?v=vMOnge5Gld" color="#5bbad5">
  <link rel="shortcut icon" href="favicon.ico?v=vMOnge5Gld">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="browserconfig.xml?v=vMOnge5Gld">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <nav class="navbar navbar-default fixed-top navbar-expand-lg" role="navigation-demo">
    <div class="container">
      <div class="navbar-translate">
        <div class="d-inline-flex align-items-center navbar-brand" href="/">
          <img src="drops.svg" alt="drops" style="width: 20px;">
          <div class="ml-1">Itflows</div>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
            <i class="material-icons">email</i>
            <div class="ripple-container"></div></a>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-small">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Hi! My name is Youri</h1>
          <h4>I'm a passionate freelance webdeveloper. The code I write is solid using the latest stable technologies.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="about-services features-2 pb-5">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Experience</h2>
            <h5 class="description">More then 10 years of experience.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">gesture</i>
              </div>
              <div class="description">
                <h4 class="info-title">Front-end</h4>
                <p>I'm not shy to get my hands dirty on CSS, HTML or JS</p>
                <dl>
                  <dt>Tools</dt>
                  <dd>React</dd>
                  <dd>Sass</dd>
                  <dd>Babel</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">build</i>
              </div>
              <div class="description">
                <h4 class="info-title">Back-end</h4>
                <p>My passion lies with coding Ruby. You'll find me on the back-end mostly.</p>
                <dl>
                  <dt>Tools</dt>
                  <dd>Ruby on Rails</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">storage</i>
              </div>
              <div class="description">
                <h4 class="info-title">Dev-ops</h4>
                <p>Coming from an age where we didn't have simple deployment options I've gained expierence with different deployment options. Nowadays I've traded the manual for the automated.</p>
                <dl>
                  <dt>Tools</dt>
                  <dd>Ubuntu</dd>
                  <dd>Chef</dd>
                  <dd>Dokku</dd>
                  <dd>Docker</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer ">
    <div class="container">
      <div class="copyright pull-right">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.itflows.nl" target="_blank">Youri van der Lans</a>.
      </div>
    </div>
  </footer>
</body>
</html>
